body{
  background-color: rgb(20, 26, 34);
  font-family: 'Montserrat', sans-serif;
}
#site_content {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
/*  NOTE utility class */
.icon_dimesion {
  height: 2rem;
  width: 2rem;
}
.text_bold {
  font-weight: bolder;
}
.d_flex {
  display: flex;
}
.bg_black {
  background-color: black;
}
.wrapper {
  flex-wrap: wrap;
}
.text_w {
  color: white;
}
.text_g {
  color: rgb(112, 112, 112);
}
.bg_green {
  background-color: rgb(154, 226, 47);
}
.img_cover_size {
  min-height: 17rem;
  min-width: 17rem;
}
/* /utility class */
/* aside navbar */
.nav_menu img {
  margin: 0.2rem;
}
.nav_menu .big_logo {
  width: 12rem;
  padding-bottom: 0.5rem;
}
.nav_menu .small_logo {
  display: none;
}
.icon_aside {
  padding: 0.5rem 0;
}
.icon_aside img {
  max-width: 20px;
}
.icon_aside span {
  align-self: center;
}
 .nav_aside {
   flex-direction: column;
   width: 200px;
   min-height: calc(100vh - 90px);
   padding: 2rem;
   color: white;
   justify-content: space-between;
   overflow-y: hidden;
 }
 .aside_img {
   display: block;
 }
.playlist_ul {
  height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding-left: 0;
  padding-top: 1rem;
  line-height: 2.3rem;
}
.nav_aside span.text_w > i {
  font-size: 3rem;
}
.nav_aside .creation_playlist {
  align-items: center;
}
.nav_aside .creation_playlist span:last-child {
  padding-left: 0.9rem;
}
.user_account span:nth-child(2) {
  display: none;
}
/* /aside navbar */
/* main */
main {
  height: calc(100vh - 90px);
}
.main_sections {
  flex-direction: column;
  width: calc(100% - 200px);
}
/* upgrade banner */
.upgrade_banner {
  height: 150px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.upgrade_banner {
  justify-content: flex-end;
  align-items: center;
}
.upgrade_banner .btn {
  height: 40px;
  width: 200px;
  border: 1px solid white;
  font-size: 2.5rem;
  border-radius: 40px;
  margin: 2rem;
  transition: all 0.1s ease-in-out;
}
.upgrade_banner .btn h3  {
  margin: 0;
  padding: 5px 10px;
  font-size: 1.5rem;
}
.upgrade_banner .btn:hover {
  background-color: white;
  color: black;
  text-decoration: none;
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;

}
/* /upgrade banner */
/* albums covers */
/* catetegories selections */
.underline_green {
  position: relative;
}
.underline_green::after {
  content: '';
  height: 3px;
  width: 30%;
  background-color: rgb(154, 226, 47);
  position: absolute;
  left:calc(50% - 10%);
  bottom:-5px;
  opacity: 0;
}
.underline_green:hover:after {
  opacity: 1;
}
.music_zone {
  padding: 0 0.5rem;
}
.music_sections {
  margin: 0 20%;
  justify-content: center;
  justify-content: space-around;
}
.music_sections a {
  text-decoration: none;
  min-width: 5rem;
}
.music_sections h6:hover {
  color: white;
}
.albums_cover {
  border-left-color: rgb(20, 26, 34);
  overflow-x: auto;
}
/* /categories selections */
/* thumbnails */
/* NOTE: impostando nella @media query una width fissa si può ottenere l'effetto di 2 pr riga */
.albums_area h3, .albums_area p {
  margin-left: 1rem;
}
.cover_thumbnail {
  margin: 1rem;
  background-color: inherit;
  text-align: center;
  flex-basis: calc(100% / 7);
  border: 0;
}

.albums_cover .albums_area:nth-child(6) .cover_thumbnail img {
  border-radius: 50%;
}
/* /main */
/* footer */
footer {
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: rgb(40, 40, 40);
  overflow-x: hidden;
}
/* artist footer */
.artist_info {
  align-items: center;
}
.artist_info img {
  margin: 2rem;
  height: auto;
  width: 5rem;
}
.artist_info span.bottonsleft_footer:nth-last-child(2) {
  margin-left: 4rem;
}
.bottonsleft_footer {
  padding: 0 1rem;
  font-size: 1.5rem;
}
.bottonsleft_footer:hover {
  color: white;
}
.name_song span {
  display: block;
}
.name_song span:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* /artist footer */
/* player footer */
.bottons_player {
  justify-content: center;
  font-size: 1.5rem;
  margin: 1rem;
}
.bottons_player span {
  padding: 0 2rem;
  align-self: center;
}
.bottons_player span i.far{
  font-size: 3rem;
}
.bottons_player span:hover {
  color: white;
}
.bottons_player .fa-play-circle:hover {
  transform: scale(1.3);
}
.time_lapse {
  align-items: center;
}
.time_bar {
  align-self: center;
  width: 40rem;
  margin: 0 01rem;
  border-radius: 3px;
  height: 5px;
  background-color: rgb(112, 112, 112);
}
.timer {
  background: lightgrey;
  width: 30%;
  height: 5px;
  border-radius: 3px;
}
.timer:hover {
  background: rgb(154, 226, 47);
}
.volume_footer {
  margin: 0 01rem;
  border-radius: 3px;
  width: 15rem;
  height: 5px;
  background-color: rgb(112, 112, 112);
}
.volume_range {
  width: 20%;
  height: 5px;
  border-radius: 3px;
  background: lightgrey;
}
.volume_range:hover {
  background-color: rgb(154, 226, 47);
}
/* /player footer */
/* control panel footer */
.control_panel {
  align-items: center;
}
.control_panel span {
  padding: 0 0.8rem;
  font-size: 1.5rem;
}
.control_panel span:hover {
  color: white;
}
/* /footer */
/* WARNING: MEDIA query */
@media all and (max-width: 992px) {
  /* footer */
  .preference_footer {
    flex-direction: column;
  }
  .artist_info .preference_footer span.bottonsleft_footer {
    margin-left: 0;
  }
  .time_bar {
    width: 20rem;
  }
  .control_panel span {
    padding: 0.1rem;
  }
  .time_lapse {
    margin: 0 5%;
  }
  .volume_footer {
    width: 8rem;
  }
  .bottons_player {
    width: 30rem;
    justify-content: center;
  }
  /* /footer */
}
@media all and (max-width: 768px) {
  /* navbar */
  .nav_aside {
    width: 60px;
  }
  .big_logo {
    display: none;
  }
  .nav_menu .small_logo {
    display: block;
    width: 25px;
    margin: 0.5rem 0;
  }
  .icon_aside span {
    display: none;
  }
  .creation_playlist {
    display: none;
  }
  .nav_menu h6 {
    display: none;
  }
  .playlist_ul {
    display: none;
  }
  .user_account span:first-child {
    display: none;
  }
  .user_account span:nth-child(2) {
    display: block;
    font-size: 2rem;
  }
  .user_account span:last-child {
    display: none;
  }
  /* /navbar */
  /* main */
  .main_sections {
    width: calc(100% - 60px);
  }
  /* /main */
  /* footer */
  .artist_info img {
    width: 3rem;
    height: auto;
  }
  .name_song {
    font-size: 1rem;s
  }
  .player_footer {
    width: 20rem;
    height: auto;
  }
  .bottons_player {
    width: 100%;
    justify-content: flex-start;
  }
  .bottons_player span {
    padding: 0 0.8rem;
  }
  .time_lapse {
    justify-content: center;
  }
  .time_bar {
    width: 12rem;
  }
  /* /footer */
}
