body{
  background-color: rgb(20, 26, 34);
  font-family: 'Montserrat', sans-serif;
}
#site_content {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
/*  NOTE utility class */
.icon_dimesion {
  height: 2rem;
  width: 2rem;
}
.d_flex {
  display: flex;
}
.bg_black {
  background-color: black;
}
.wrapper {
  flex-wrap: wrap;
}
.text_w {
  color: white;
}
.text_g {
  color: rgb(79, 79, 79);
}
/* /utility class */
/* aside navbar */
 .nav_aside {
   flex-direction: column;
   width: 200px;
   min-height: calc(100vh - 70px);
   padding: 1.5rem;
   color: white;
   justify-content: space-between;
   overflow-y: hidden;
 }
 .aside_img {
   display: block;
 }
.playlist_ul {
  min-height: 60px;
  overflow-y: auto;
  list-style-type: none;
}

/* aside navbar */
/* main */
main {
  height: calc(100vh - 70px);
}
.main_sections {
  flex-direction: column;
  width: calc(100% - 200px);
}
/* upgrade banner */
.upgrade_banner {
  height: 150px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.upgrade_banner {
  justify-content: flex-end;
  align-items: center;
}
.upgrade_banner .btn {
  height: 50px;
  border: 1px solid white;
  font-size: 2.5rem;
}
/* /upgrade banner */
/* albums covers */
.music_sections {
  margin: 0 20%;
  justify-content: center;
  justify-content: space-around;
}
.albums_cover {
  border-left-color: rgb(20, 26, 34);
  overflow-x: auto;
}
/* /main */
/* footer */
footer {
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: rgb(40, 40, 40);
}
